<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <!--输出到MySQL数据库-->
    <appender name ="MySql_AdoNetAppender_A" type="log4net.Appender.AdoNetAppender">
      <!--缓存长度：当有1条以上的日志时，就输出 -->
      <bufferSize value="0" />
      <!--MySql.Data.MySqlClient.MySqlConnection : 表示连接要用到的连接器-->
      <param name="ConnectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <!-- ConnectionString : MySQL连接的信息，跟SQLite是不同的  -->
      <!--账号密码可以修改-->
      <param name="ConnectionString" value="server=localhost;port = 3306;database=log4nettest;UserId=root;Password=83117973bb;"/>
      <!-- SQL语句，插入语句 需要跟 表中的属性一致-->
      <commandText value="INSERT INTO table_a (Date,Thread,Level,Logger,Message) VALUES (@Date, @Thread, @Level, @Logger, @Message)" />
      <parameter>
        <parameterName value="@Date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>

    <!--输出到MySQL数据库-->
    <appender name ="MySql_AdoNetAppender_B" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0" />
      <param name="ConnectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <param name="ConnectionString" value="server=localhost;port = 3306;database=log4nettest;UserId=root;Password=83117973bb;"/>
      <commandText value="INSERT INTO table_a (Date,Thread,Level,Logger,Message) VALUES (@Date, @Thread, @Level, @Logger, @Message)" />
      <parameter>
        <parameterName value="@Date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>

    <!--自定义记录器  比如有不同的程序员，可以用不同的记录器来记录各自的异常，可以定位责任-->
    <logger name = "People_A" >
      <!--发布之后 level 一般改成 WARN -->
      <level value ="ALL"/>
      <appender-ref ref="MySql_AdoNetAppender_A"/>
    </logger>

    <logger name = "People_B" >
      <level value ="ALL"/>
      <appender-ref ref="MySql_AdoNetAppender_B"/>

    </logger>
  </log4net>
</configuration>