<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Process01Name" value="SWJZ" />
    <add key="Process01Path" value="D:\Desktop\Vs\SWJZ.exe" />
  </appSettings>
</configuration>
