<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net>
    <!-- People_A 的记录器 -->
    <appender name="RollingFileAppender_A" type="log4net.Appender.RollingFileAppender">
      <!--下面设置文件属性-->
      <!--设置日志文件的路径-->
      <!--下面这种输出路径是：输出目录\Log\LogFile-->
      <!--还可以自定义文件路径：D:\Log\LogFile-->
      <param name ="File"  value="Log\LogFile_PeopleA_"/>
      <!--设置是否追加到文件：即新的日志会叠加到原来的日志的文件中，而不是创建新的日志文件-->
      <param name ="AppendToFile"  value="True"/>

      <!--设置日志文件回滚Rolling的方式-->
      <!--方法1：以日志文件的大小Size为依据：日志文件大于100KB,创建新文件，每天只留下最新的10个文件-->
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />-->
      <!--方法2：以Date日期来创建文件：每天一份文件
    <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HHmm" />-->

      <!--方法3 Composite：综合方法1和方法2：-->
      <param name="RollingStyle"  value="Composite"/>
      <!--日期的格式：创建文件的时间-->
      <param name ="DatePattern"  value="yyyy-MM-dd HH：mm：ss"/>
      <!--每日日志文件的数量 -1:表示无限制-->
      <maxSizeRollBackups value="10" />
      <!--每份日志文件的大小-->
      <param name ="MaximumFileSize"  value="1MB" />
      <!--设置日志文件名是否为静态：False：表示每份日志的文件名都会加上时间后缀-->
      <param name ="StaticLogFileName"  value="False"/>

      <!--以下是日志输出格式-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <ConversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <!-- People_B 的记录器 -->
    <appender name="RollingFileAppender_B" type="log4net.Appender.RollingFileAppender">
      <param name ="File"  value="Log\LogFile_PeopleB_"/>
      <param name ="AppendToFile"  value="True"/>
      <param name="RollingStyle"  value="Composite"/>
      <param name ="DatePattern"  value="yyyy-MM-dd HH：mm：ss"/>
      <maxSizeRollBackups value="10" />
      <param name ="MaximumFileSize"  value="1MB" />
      <param name ="StaticLogFileName"  value="False"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <ConversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>


    <!--自定义记录器  比如有不同的程序员，可以用不同的记录器来记录各自的异常，可以定位责任-->
    <logger name = "People_A" >
      <!--设置日志输出的等级：OFF(拒绝所有的日志请求) > FATAL > ERROR > WARN > INFO > DEBUG > ALL(允许所有的日志请求)，缺省为DEBUG>-->
      <!--发布之后 level 一般改成 WARN -->
      <level value ="DEBUG"/>
      <!-- 附加器的大致内容不变，主要修改文件名，目的是更好的区分责任，也可以不分开，所有人写在同一个文件中，通过name来区分 -->
      <appender-ref ref="RollingFileAppender_A"/>
    </logger>

    <logger name = "People_B" >
      <level value ="DEBUG"/>
      <appender-ref ref="RollingFileAppender_B"/>
    </logger>

  </log4net>

</configuration>