<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net>
    <!--输出到SQLite数据库-->
    <!--数据库路径：需要先创建好(.sqlite和.db都可以)-->
    <!--数据库中需要先创建好表格-->
    <appender name="SQLite_AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!--缓存长度：当有30条以上的日志时，就输出 -->
      <bufferSize value="0" />
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.108.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <!--具体路径可能要改 这个路径：输出目录下的相对路径 -->
      <connectionString value="Data Source=D:\Desktop\LogDataBase.db;" />
      <!-- 具体项目 表格名字要改-->
      <commandText value="INSERT INTO LogRoot (Date, Thread,Level, Logger, Message) VALUES (@Date,@Thread, @Level, @Logger, @Message)" />
      <!--参数组-->
      <parameter>
        <parameterName value="@Date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <!-- 在数据库中选择 VARCHAR 或 TEXT -->
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>-->
    </appender>



    <root>
      <!--设置日志输出的等级：OFF(拒绝所有的日志请求) > FATAL > ERROR > WARN > INFO > DEBUG > ALL(允许所有的日志请求)，缺省为DEBUG>-->
      <level value="ALL"/>
      <appender-ref ref="SQLite_AdoNetAppender"/>
    </root>

  </log4net>
</configuration>